<fieldset>
    <div class="control-group">
        <label for="title" class="control-label">Добавление блога</label>
        <div class="controls">
            <input type="text" class="span6" placeholder="Название блога" name="name" value='<%= blog.title %>'/>
            <input type="text" class="span6" placeholder="url" name="slug" value='<%= blog.slug %>'/>
        </div>
    </div>
</fieldset>