<div class="hero-unit">
  <h2>All Blogs</h2>
</div>

<div id="blogs-list">
<% if (blogs) { %>
  <ul>
    <% blogs.forEach(function(blog){ %>
      <li><a href="<%- urlFor({controller:'blogs', action:'show', blog_slug:blog.slug}); %>"></a></li>
    <% }); %>
  </ul>
<% } %>
</div>